main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile-grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.tile {
    height: 100%;
    width: 100%;
}

.filled {
    background: #b8b8b8;
}

.grid-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    
}

.grid-controls-title {
    text-align: center;
    margin: 10px;
}
